<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Netflix Clone</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="topbar">
    <h1>🎬 Netflix Clone</h1>
</div>

<div class="container">

{% for i in items %}

<div class="card">

    <img src="{{ i['image'] }}">

    <div class="info">

        <h3>{{ i['title'] }}</h3>

        <p>{{ i['category'] }}</p>

    </div>

</div>

{% endfor %}

</div>

</body>
</html>
