<!DOCTYPE html>
<html>
<head>
<style>
body{background:#111;color:white;font-family:Arial}
.card{
    width:200px;
    display:inline-block;
    margin:10px;
    background:#222;
    padding:10px;
    border-radius:10px;
}
img{width:100%;border-radius:10px}
a{color:white;text-decoration:none}
</style>
</head>

<body>

<h1>🎬 Netflix Clone</h1>

{% for i in items %}
<div class="card">
    <img src="{{ i['image'] }}">
    <h3>{{ i['title'] }}</h3>
    <a href="/watch/{{ i['id'] }}">▶ Watch</a>
</div>
{% endfor %}

</body>
</html>
